/* * {
    margin: 0;
    box-sizing: border-box;
} */

.login-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

/* body {
    background: url('/public/images/bg.jpg') no-repeat center;
    background-size: cover;
    font-family: sans-serif;
  } */

.form {
    position: relative;
    width: 100%;
    max-width: 380px;
    padding: 23px 20px 42px;
    background: rgb(15 152 180 / 70%);
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}

.form img {
    position: absolute;
    top: -63px;
    left: calc(50% - 50px);
    width: 100px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}

.form h2 {
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    color: #171616;
}

h1 {
    font-size: 20px;
    font-style: normal;
    font-family: serif;
    color: #e71212;
}

/* .table {
    padding: 0px !important; 
    background: rgb(15 152 180 / 70%);
    border-radius: 10px;
    box-shadow: 0 15px 25px rgb(0 0 0 / 50%);
} */